<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Usuários</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<% @users.each do |user| %>
			<div class="col-md-2">
				<a href=<%= user_path(user) %>>
					<div class="thumbnail">
						<img src="https://goo.gl/OYC0MS" alt="...">
						<div class="caption">
							<h5 class="text-center"><%= user.full_name %></h5>
						</div>
					</div>
				</a>
			</div>
		<% end %>
		<div class="col-md-1"></div>
	</div>
</div>

<table>
	<thead>
		<tr>
			<th>Cpf</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Email</th>
			<th>Admin</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.cpf %></td>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
				<td><%= user.admin %></td>
				<td><%= link_to 'Show', user %></td>
				<td><%= link_to 'Edit', edit_user_path(user) %></td>
				<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
