<div class="container-fluid">

	<% @projects.each do |project| %>
		<!-- Single project container -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<a href=<%= project_path(id: project) %>><div class="well project-well" id=<%= "project-#{project.id}" %>>
					<div class="row">
						<div class="project-item col-md-3 right-bordered">
							<h2><%= project.name %></h2>
							<p>Data final: <%= project.final_date.to_formatted_s(:pt_br) %></p>

							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=<%= project.progress_percent %> aria-valuemin="0" aria-valuemax="100" style="width: <%= project.progress_percent %>%">
								</div>
							</div>
						</div>

						<div class="project-item col-md-3 right-bordered">
							<h3>Atividades</h3>
							<ul class="list-group activities-list">
								<li class="list-group-item">
									<span><%= project.tasks.by_user(current_user).count %></span>
									 tarefa<% if project.tasks.by_user(current_user).count != 1 %>s<%end%> para você
								</li>

								<li class="list-group-item">
									<span><%= project.tasks.idle.count %></span>
									 tarefa<% if project.tasks.idle.count != 1 %>s<%end%> ociosa<% if project.tasks.idle.count != 1 %>s<%end%>
								</li>
								<li class="list-group-item">
									<span><%= project.tasks.completed.count %></span>
									 tarefa<% if project.tasks.completed.count != 1 %>s<%end%> concluída<% if project.tasks.completed.count != 1 %>s<%end%>
								</li>
							</ul>
						</div>

						<div class="project-item col-md-6">
							<h3>Membros</h3>
							<ul class="list-group">
								<% project.users.each do |user| %>
									<li class="list-group-item">
										<%= user.full_name %></h4>
									</li>
								<% end %>
							</ul>
						</div>

					</div>
				</div></a>
			</div>
		</div>
	<% end %>
</div>

<a data-toggle="modal" href="#new-proj-modal" class="btn btn-danger btn-fab floating-btn">
	<i class="material-icons">add</i><div class="ripple-container"></div>
</a>


<div class="modal fade" id="new-proj-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="/" method="post">
				<!-- <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Novo projeto</h4>
				</div> -->
				<div class="modal-body">
					<div class="row">
						<input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
						<div class="col-md-12">
							<div class="form-group form-group-lg label-floating">
								<label for="project[name]" class="control-label">Título do Projeto</label>
								<input type="text" class="form-control" id="project[name]" name="project[name]">
							</div>

							<div class="form-group label-floating">
								<label for="project[description]" class="control-label">Descrição</label>
								<textarea id="project[description]" name="project[description]" class="form-control"></textarea>
							</div>
						</div>
            <div class="col-md-6">
              <div class="form-group form-group-lg">
                <%@users.each do |user| %>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value=<%= "#{user.id}" %> name="project_user_data[ids][]">
                      <%= user.full_name %>
                    </label>
                  </div>
                <%end%>
              </div>
            </div>
						<div class="col-md-6 ">
							<div class="form-group form-group-lg">
								<label for="project[start_date]" class="control-label">Data Inicial</label>
								<input type="date" class="form-control" id="project[start_date]" name="project[start_date]" required>
							</div>

							<div class="form-group form-group-lg">
								<label for="project[final_date]" class="control-label">Data Final</label>
								<input type="date" class="form-control" id="project[final_date]" name="project[final_date]" required>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Criar projeto</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Old code -->
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Idle Tasks Count</th>
			<th>Users Count</th>
			<th>Start date</th>
			<th>Final date</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= project.name %></td>
				<td><%= project.description %></td>
				<td><%= project.tasks.idle.count %></td>
				<td><%= project.users.count %></td>
				<td><%= project.start_date %></td>
				<td><%= project.final_date %></td>
				<td><%= link_to 'Show', project_tasks_path(project_id: project) %></td>
				<td><%= link_to 'Edit', edit_project_path(project) %></td>
				<td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>