<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="row">
		
		<section class="col-md-3">
			<div class="well">
				<a data-toggle="modal" href="#options-modal"><h2><%= @project.name %></h2></a>
				<p><%= @project.description %></p>

				<h4>Membros</h4>
				<ul class="list-group">
					<% @project.users.each do |user| %>
						<li class="list-group-item">
							<%= user.first_name + ' ' + user.last_name %>
						</li>
					<% end %>
				</ul>
			</div>

		</section>
		
		<div class="col-md-9">
			<div class="row">
				
				<section class="col-md-6">
					<div class="well">
						<h3>Minhas atividades</h3>
						<table class="table">
							<thead>
								<tr>
									<th>ATIVIDADE</th>
									<th>PRAZO</th>
								</tr>
							</thead>
							<tbody>
								<% @tasks.by_user(@current_user).each do |task| %>
									<tr>
										<td> <a href=<%= project_task_path(project_id: @project, id: task) %>><%= task.name %></a> </td>
										<td><%= task.final_date %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<% if @tasks.by_user(@current_user).count <= 0 %>
							<p>Nenhuma atividade cadastrada</p>
						<% end %>
					</div>
				</section>
				
				<section class="col-md-6">
					<div class="well">
						<h3>Atividades ociosas</h3>
						<table class="table">
							<thead>
								<tr>
									<th>ATIVIDADE</th>
									<th>PRAZO</th>
								</tr>
							</thead>
							<tbody>
								<% @tasks.idle.each do |task| %>
									<tr>
										<td> <a href=<%= project_task_path(project_id: @project, id: task) %>><%= task.name %></a> </td>
										<td><%= task.final_date %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<% if @tasks.idle.count <= 0 %>
							<p>Nenhuma atividade cadastrada</p>
						<% end %>
					</div>
				</section>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="well">
						<h3>Outras atividades</h3>
						<table class="table">
							<thead>
								<tr>
									<th>ATIVIDADE</th>
									<th>PRAZO</th>
								</tr>
							</thead>
							<tbody>
								<% @tasks.not_by_user(@current_user).each do |task| %>
									<tr>
										<td> <a href=<%= project_task_path(project_id: @project, id: task) %>><%= task.name %></a></td>
										<td><%= task.final_date %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<% if @tasks.not_by_user(@current_user).count <= 0 %>
							<p>Nenhuma atividade cadastrada</p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% if !@project.finished %>
	<a href="javascript:void(0)" class="btn btn-danger btn-fab floating-btn">
	  <i class="material-icons">add</i><div class="ripple-container"></div>
	</a>
<% end %>

<!-- Project info modal -->
<div class="modal fade" id="options-modal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Opções de projeto</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<% if !@project.finished %>
								<!-- <button class="btn btn-danger btn-raised"></button> -->
								<%= button_to "Arquivar projeto", project_finish_path(@project), {class: 'btn btn-danger btn-raised'}%>
							<% else %>
								<button class="btn btn-danger btn-raised">Desarquivar projeto</button>
							<% end %>
						</div>
					</div>
				</div>

		</div>
	</div>
</div>


<!-- Old code -->
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @project.final_date %>
</p>

<p>
	Tasks count: <%= @tasks.count %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


